<%= form_with(model: factura, local: true) do |form| %>
  <% if factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
        <% factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :compania %>
    <%= form.text_field :compania %>
  </div>

  <div class="field">
    <%= form.label :impuesto %>
    <%= form.text_field :impuesto %>
  </div>

  <div class="field">
    <%= form.label :vendedor %>
    <%= form.text_field :vendedor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
