<div class="row">
  <%= form_with(model: factura, local: true, html: { class: 'form-horizontal' }) do |form| %>
    <% if factura.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

        <ul>
          <% factura.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= form.label :fecha, class: 'control-label' %><br>
      <div class="controls">
        <%= form.date_field :fecha %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :compania, class: 'control-label' %><br>
      <div class="controls">
        <%= form.text_field :compania %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :impuesto, class: 'control-label' %><br>
      <div class="controls">
        <%= form.text_field :impuesto %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :empleado_id, class: 'control-label' %><br>
      <div class="controls">
        <%= collection_select( :factura, :empleado_id, Empleado.all, :id, :nombre, {}, { :multiple => false }) %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label "Estado", class: 'control-label' %>
      <div class="controls">
        <%= form.select(:estado, options_for_select([['pagada', 'pagada'], ['pendiente', 'pendiente']]), { include_blank: true }) %>
      </div>
    </div>

    <hr>

    <div class="control-group">
      <div class="controls">
        <%= form.submit 'Guardar', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>