<p id="notice"><%= notice %></p>

<h1>Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Compania</th>
      <th>Impuesto</th>
      <th>Vendedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.fecha %></td>
        <td><%= factura.compania %></td>
        <td><%= factura.impuesto %></td>
        <td><%= factura.vendedor %></td>
        <td><%= link_to 'Mostrar', factura %></td>
        <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
        <td><%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_factura_path %>
