<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Facturas</h1>
  <div class="pull-right range-query">
    <%= form_tag facturas_path, method: :get do %>
      <%= text_field_tag 'busqueda[fecha_desde]', @busqueda.fecha_desde %>
      <%= text_field_tag 'busqueda[fecha_hasta]', @busqueda.fecha_hasta %>
      <%= submit_tag 'Buscar', class: 'btn boton-busqueda' %>
    <% end %>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Compañía</th>
          <th>Impuesto</th>
          <th>Empleado</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @facturas.each do |factura| %>
          <tr>
            <td><%= factura.fecha.strftime("%Y-%m-%d") %></td>
            <td><%= factura.compania %></td>
            <td><%= "#{factura.impuesto}%" %></td>
            <td><%= factura.empleado.nombre if factura.empleado_id %></td>
            <td><%= factura.estado %></td>
            <td><%= link_to 'Mostrar', factura, class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Editar', edit_factura_path(factura), class: 'btn btn-mini btn-warning' %></td>
            <td><%= link_to 'Eliminar', factura, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nueva Factura', new_factura_path, class: 'btn btn-primary' %>
