<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>Compania:</strong>
  <%= @factura.compania %>
</p>

<p>
  <strong>Impuesto:</strong>
  <%= @factura.impuesto %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @factura.empleado.nombre %>
</p>

<%= link_to 'Editar', edit_factura_path(@factura) %> |
<%= link_to 'Regresar', facturas_path %>
