<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Gerente:</strong>
  <%= @empresa.gerente %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @empresa.estado %>
</p>

<p>
  <strong>Dias credito:</strong>
  <%= @empresa.dias_credito %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
