<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @compra.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @compra.categoria %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @compra.cantidad %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @compra.factura_id %>
</p>
