<!DOCTYPE html>
<html>
  <head>
    <title>Enterprise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Sobre Nosotros', bienvenida_about_path %>
    <%= link_to 'Contacto', bienvenida_contacto_path %>
    <%= link_to 'Características', bienvenida_caracteristicas_path %>
    <%= link_to 'FAQs', bienvenida_faq_path %>
    <%= link_to 'Precios', bienvenida_precios_path %>
    <%= link_to 'Facturas', facturas_path %>
    <%= link_to 'Ingresar', root_path %>
    <%= yield %>
  </body>
</html>
