<!DOCTYPE html>
<html>
  <head>
    <title>Enterprise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sobre Nosotros', bienvenida_about_path %></li>
        <li><%= link_to 'Contacto', bienvenida_contacto_path %></li>
        <li><%= link_to 'Características', bienvenida_caracteristicas_path %></li>
        <li><%= link_to 'FAQs', bienvenida_faq_path %></li>
        <li><%= link_to 'Precios', bienvenida_precios_path %></li>
        <li><%= link_to 'Facturas', facturas_path %></li>
        <li><%= link_to 'Ingresar', root_path %></li>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
